body
{
background-color:#3498DB;
margin:0;
padding:0;
font-family:"Helvetica Neue", Arial, sans-serif;
}

#header
{
font-size:60px;
text-align:center;
font-weight:bold;
margin-top:30px;
color:#000000
}

#picture
{
text-align:center;
margin-top:30px;
margin-bottom:30px;
}

.links
{
text-align:center;
width:140px;
font-size:18px;
font-weight:bold;
}

a
{
text-decoration:none;
color:#000000;
}
.sections
{
background-color:#ECF0F1;
border-radius:8px;
padding:20px;
}

.sections-header
{
text-decoration:underline;
font-weight:bold;
font-size:18px;
}


.sections-body
{
font-weight:300;
padding-top:10px;
padding-bottom:10px;
}