body
{
margin:0;
padding:0;
font-family:"Helvetica Neue", Arial, sans-serif;
}


#FirstLevel
{
width:100%;
padding-top: 15px;
padding-bottom: 15px;
text-align:center;
}

#SecondLevel
{
width:100%;
text-align:center;
}

#ThirdLevel
{
text-align:center;
padding-top: 15px;
padding-bottom: 15px;
width:100%;
height:113px;
}

.desc
{
color:black;
font-size:15px;
padding-bottom:9px;
font-weight:300;
}

.date
{
color:black;
font-size:36px;
font-weight:100;
}

.status-red
{
color:#c0392b;
font-size:16px;
font-weight:500;
}

.status-green
{
color:#2ecc71;
font-size:18px;
font-weight:300;
}

.Calendar
{
overflow:scroll;
height:235px;
-webkit-overflow-scrolling: touch;
border-top:1px solid black;
border-bottom:1px solid black;
}

.calTop
{
border-top:1px solid black;
border-bottom:1px solid black;

}
.calRows
{
text-align:left;
font-size:20px;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
font-weight:200;
}

.Future
{
overflow:scroll;
-webkit-overflow-scrolling: touch;
white-space:nowrap;
width: auto;
}

.innerFuture
{
display: inline-block;
width:100%;
text-align:center;
padding-top:5px;
padding-bottom:5px;
font-size:20px;
font-weight:200;
}


.refreshButton
{
position:absolute;
background-color:#093;
top:5px;
right:5px;
font-size:27px;
color:#FFF;
font-weight:100;
width:32px;
height:32px;
text-align:center;
vertical-align:top;
}


.locationButton
{
position:absolute;
background-color:#09F;
top:5px;
left:5px;
color:#FFF;
padding:5px;
text-align:center;
height:22px;
}

.smsButton
{
position:absolute;
background-color:#093;
top:5px;
right:42px;
color:#FFF;
padding:5px;
text-align:center;
height:22px;
}


.smsBox
{
top:51px;
position:absolute;
text-align:center;
background-color:#00AF33;
width:200px;
margin-left:-110px;
left:50%;
z-index: 2;
color:white;
padding:10px;
font-size:15px;
font-weight:300;
border-radius:2px;
display:none;
}

.SMSButtons
{
font-size:15px;
font-family:"Helvetica Neue", Arial, sans-serif;
background-color:white;
text-decoration:none;
color:black;
padding:7px;
border:2px solid #FFEEEE;
}

.telNum
{
border:2px solid #000000;
border-radius:0px;
}

.error
{
color:yellow;
font-weight:bold;
display:none;
}

#map-canvas
{
height: 360px;
}

.bottomLink
{
text-align:center;
font-size:27px;
font-weight:200;
}

.AlternateSideList
{
background-color:#87CEFA;
font-size:16px;
font-weight:200;
text-align:center;
}